name: Publish to npm

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org/'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Build
        run: npm run build

      - name: Run Tests
        run: npm run test

      - name: Rename Artifact
        run: mv dist/kakidash.umd.js dist/kakidash.umd.${{ github.ref_name }}.js

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: kakidash-library-${{ github.ref_name }}
          path: dist/kakidash.umd.${{ github.ref_name }}.js

      - name: Publish to npm
        run: npm publish --provenance


